{% extends "customer/customer_base.html" %}
{% block content %}
{% load crispy_forms_filters %}

<div class="col-md-6 grid-margin stretch-card">
     <div class="card">
         <div clas="card-body">
             <h4 class="card-title">PAY BILL</h4>
             <form method="post" enctype="multipart/form-data">{% csrf_token %}


                 <div class="form-group">
                     <label for="card" class="col-form_label">Card Number</label>
                     <input class="form-control" name="cvv" type="password" minlength="16" maxlength="18" name="card" required>
                 </div>

                 <div class="form-group relative">
                     <label for="cvv" class="col-form_label">CVV</label>
                     <input class="form-control" name="cvv" type="password" minlength="16" maxlength="18" id="cvv" required>
                 </div>

                 <div class="form-group">
                     <label for="cvv" class="col-form_label">Month</label>
                     <input class="form-control" name="exp" type="month" id="example-month-input" required>
                 </div>

                 <button type="submit" class="btn btn-primary pr-4">Submit</button>
             </form>
             </div>
         </div>
     </div>
{% endblock %}